fastapi==0.139.0
uvicorn==0.38.0
sqlalchemy==2.0.51
alembic==1.18.5
psycopg2-binary==2.9.10
python-dotenv==1.2.1
pandas==3.0.2
openpyxl==3.1.5
openlocationcode==1.0.1
requests==2.32.3
python-multipart==0.0.20